<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table table-sm table-striped">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#  </th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
{% for row in data %}
    <tr>
            <th scope="row">-</th>
        {% for field in row %}
      
        
        <td>{{field}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
 